/* Estilização globais */
body {

    background-color:cornsilk ; 
    margin: 0px;
    margin-top: 60px;
    display: grid; /*container se comporta em grade */
    font-family: Arial, Helvetica, sans-serif;
    gap: 60px;
    justify-items: center;/*Centraliza todos os itens na horizontal*/
}


img {
    max-width: 100%;
    display: block;
 }

 a {
    text-decoration: none; /* Retira a decoração do link (underline)*/
 }

 p, h1, h2, h3 {
    margin: 0px;/*Retira o espaçamento externo que o navegador coloca*/
 }

 p {
    font-size: 20px;
 }

 /* Estilização do menu */
.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.menu a {
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 30px;
    color: black;
    border-radius: 8px;
}

.menu a:hover {
    background-color: #9353ff;
}

/* Estilização de conteudo */
.conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
 }

 .botao{
    background-color: #9353ff;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
 }

.botao:hover {
    background-color: #fff;
    color: #000;
}

/* Estilização do footer */
.rodape {
    background-color: #fff;
    text-align: center;
    padding: 40px;
    width: 100%;
}