.my_h{
    color:blueviolet;
    background-color: antiquewhite;
    font-size: 20px;
    border: 4px dotted black;

}
button{
    text-transform: uppercase;
    background-color: tomato;
    border: none;
    
}